.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: var(--base-color);
  filter: saturate(2);
  overflow: hidden;
  z-index: -1;

  /* Cyberpunk theme */
  background: #0a0a0a;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.01);
  /* filter: brightness(1.1); */
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: var(--base-color);

  /* Cyberpunk theme */
  background: #0a0a0a;
}

.colorBox:hover {
  background: var(--border-color);
  /* background: #00bfff; */
  transition-duration: 0s;

  /* Cyberpunk theme */
  background: #a9ff2a;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--header-color);
  filter: blur(60px);
  animation: animBack 6s linear infinite;

  /* Cyberpunk theme */
  background: #a9ff2a;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
