@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --base-color: #e8f0fe;
  --font-color: #3e4a91;
  --border-color: #a7c7f2;
  --header-color: #2c3e70;
  --margin-top: 100px;
  --margin-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  /* background: var(--base-color); */
  background-size: cover;
  background-position: center;
  height: 100%;

  /* Cyberpunk theme */
  /* background: #0c0c0c; */

  /* Cyberpunk green */
  background: #0a0a0a;
}

/* background: #061a40; */
/* Charcoal black */
/* background: #121212; */
